html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/*
  * global reset end.
  */

html {
  overflow-y: scroll;
}

body {
  font:14px/1.231 sans-serif;
  font-family: 'Latin Modern Mono Prop';
  line-height:140%;
  text-rendering:optimizelegibility;
}

h1, h2, h3, h4, h5 {
  font-family: 'Latin Modern Mono Prop';
  font-weight: bold;
  line-height: 140%;
  text-rendering: optimizeLegibility;
  word-spacing:-0.041em;
}

h1 {
  font-size:48px;
  margin: 0 0 10px 0;
}

h2 {
  font-size:36px;
  margin:0 0 10px;
}

h3 {
  font-size:24px;
  margin:0 0 10px;
}

h4 {
  font-size:18px;
  margin:0 0 8px;
}

h5 {
  font-size:14px;
  margin:0 0 10px;
}

h6 {
  font-size:18px;
  margin:0 0 10px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #6A7ED9;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::-moz-selection{
  background: #776DD9;
  color:#fff;
  text-shadow: none;
}

::selection {
  background:#776DD9;
  color:#fff;
  text-shadow: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  margin: 0 0 10px 15px;
}

ul li {
  list-style-type: disc;
}

ol {
  margin:0 0 10px 20px;
}

ol li {

}

nav ul, nav li {
  margin: 0;
}

select, input, textarea, button {
  font:99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  background:none repeat scroll 0 0 rgba(22, 22, 22, 0.5);
  color:#FFFFFF;
}

pre {
  margin: 0 0 10px 0;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

blockquote p:before {
  content:"\201C";
}
blockquote p:after {
  content:"\201D";
}

blockquote {
  margin:0 0 0 5px;
  padding:0 5px 5px 0;
}

blockquote p {
  border-left:2px solid #E4E4E4;
  padding:5px 10px 5px 15px;
}

textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px #DA241D;
 -webkit-box-shadow: 0px 0px 5px #DA241D;
         box-shadow: 0px 0px 5px #DA241D;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #D0ACF0; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

#wrapper {
  margin:0 10px;
  width:950px;
}

nav {
  float:left;
  margin:0 10px 0 0;
  padding:5px 0 0 7px;
  width:224px;
}

nav h1 a {
  text-decoration: none;
}
nav h1 a:hover {
}

nav p {
  margin: 10px 0;
}

nav ul li {
  list-style-type: none;
}

#content {
  float:left;
  margin:0 auto;
  padding:88px 0 0;
  width:560px;
}

article .normal {
  margin-bottom: 1em;
}

.normal li {
  list-style-type: disc;
  list-style-position: inside;
}

.quote q {
  font-style: italic;
}

.portfolio-item {

}

.portfolio-item img {
  background-color:rgba(0, 0, 0, 0.5);
  border:1px solid rgba(0, 0, 0, 0.4);
  display:inline-block;
  height:400px;
  margin:0 0 10px;
  width:100%;
}

article .source {
  margin-top: 4px;
}

.conversation em {
  padding-right: 0.25em;
}

article .audio .caption, article .photo .caption,
article .video .caption {
  padding-top: 6px;
}

article .audio .playcount {
  color: #ccc;
  margin-top: 3px;
}

article blockquote {
  border-left: 3px solid #000;
  padding: 0px 15px;
  margin: 5px 10px 15px 10px;
}

article .meta {
  color:#999999;
  font-size:0.9em;
}

.meta a {
  color:#999999;
}

article .meta .date {
  margin-bottom: 5px;
  color: #ccc;
}

.permalink a {
  text-decoration: none;
  color: #ccc;
}

.permalink a:hover {
  color: #666;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  font-size: 10px;
  color: #999;
  clear: both;
}

footer a {
  color: #999;
}

footer a:hover {
  color: { color: Link Hover };
}

footer .pagers {
  text-align: center;
  margin: 60px 0 20px 0;
}

footer .pagers span {
  color: #ccc;
}

footer .pagers a {
  font-weight: bold;
}