#container
  header
    #hello
      h1 Sven Lito
  section#main
    article#experience
      h2 Experience
      article.job
        h3
          | Senior JavaScript Developer -
          span.company-name Pebble {code}
          span.duration 12/2012 - present
        ul
          li Creation / Design of REST and WebSocket based API's using Node.js
          li
            | Creation of Single-Page Applications using modern JavaScript toolkits and libraries
        p
          em
            b Development Environment
            | Git, Vim, Node.js, Socket.io, Engine.io, Angular.js, Backbone.js, Marionette.js, Grunt.js, Require.js, Twitter Bootstrap, Vagrant, Mocha,
            | Phantom.js, Casper.js, CouchDB, Redis, PhoneGap
        h5.recent Links to recent work (personal):
        ul
          li
            a(href='https://github.com/bower?tab=members') Bower (Core Team Member)
          li
            a(href='https://github.com/hoodiehq?tab=members') Hoodie (Core Team Member)
          li
            a(href='https://github.com/svnlto/vertebrae') Vertebrae - Backbone.Marionette AMD Boilerplate
          li
            a(href='https://github.com/felixge/node-formidable') Formidable - Node.js module for parsing form data (Maintainer)
          li
            a(href='https://github.com/svnlto/gazebo') Gazebo - a lightweight AMD scaffold
          li
            a(href='http://outofme.de') outofme.de
          li
            a(href='http://api.outofme.de/videos') api.outofme.de (wip API)
      article.job
        h3
          | Senior Front-end Developer -
          span.company-name TAG WorldWide
          span.duration 02/2011 - 12/2012
        ul
          li Working in an Agile / Scrum Environment
          li Organising and planning the Front-end Team effort
          li Mentoring Junior Team members
          li Developing Build and Deployment Processes
          li Introduced Business to Continuous Delivery
          li Mentoring Developers on BDD
          li Designing and Developing RESTful API's
          li
            | Working closely with the back-end team to design and integrate their web services
          li Front-end representative for internal Application Architecture Working Group
        p
          em
            b Development Environment
            | Git, Vim, Node.js, Backbone.js, Grunt.js, Require.js, Twitter Bootstrap, Rake, Jenkins, Vagrant, Jasmine , Mocha,
            | Phantom.js, Casper.js, CouchDB
        h5.recent Links to recent work (personal):
        ul
          li
            a(href='https://github.com/felixge/node-formidable') Node.js module for parsing form data (Maintainer)
          li
            a(href='https://github.com/svnlto/memories.js') Node.js caching module
          li
            a(href='http://api.outofme.de/videos') api.outofme.de (wip API)
          li
            a(href='http://outofme.de') outofme.de (wip)
          li
            a(href='http://susanne-lichtenegger.nodejitsu.com') Susanne Lichtenegger - wip
      article.job
        h3
          | Front-end Developer -
          span.company-name E-NOISE limited
          span.duration 07/2007 - 02/2011
        p
          | I have been responsible for maintaining the
          a(href='http://e-noise.com/') E-NOISE
          | hosting platform, running customer support and front-end development.
        ul
          li
            | participation in various in-house open-source projects,
            | mainly the PHP Framework (
            a(href='http://github.com/PHPFrame') PHPFrame
            | )
            | and a CMS called (
            a(href='http://github.com/E-NOISE/Mashine') Mashine
            | ).
          li planning and running software integration and testing environments.
          li
            | planning and integration of in-house intranet service including,
            | version control server, backup solution and virtual server environment.
          li Using HTML5, CSS3 and jQuery in recent Projects.
          li designing and coding pixel-perfect WordPress and Joomla! themes.
        h5.recent Links to recent work:
        ul
          li
            a(href='http://web.archive.org/web/20120307174442/http://www.e-noise.com/pricing', title='E-NOISE v5') E-NOISE v5 (archive.org)
      article#additional-jobdetail
        h5
          | In the years from 1999 - 2006 I worked as a Systems Administrator in many
          | large corporations such as:
        ul
          li
            a(href='http://www.munichre.com/', title='Munich Re Insurrance') Munich Re Insurance
          li
            a(href='http://www.infineon.com/', title='Infineon AG') Infineon Technologies AG
          li
            a(href='http://www.ups.com/', title='United Parcel Service') United Parcel Service
          li
            a(href='http://bsh-group.com/', title='B/S/H/ Group') BSH-Group
        h6 Some of my duties were:
        ul
          li Software distribution across a large number of linux servers
          li Asset and IP Management through SAP and DHCP
          li Active Directory Migrations
          li Support for Terminal Server, Sun Secure Desktop and Citrix Services
          li Contribution to OpenSource Projects - Linux VServer
        p
          em
            b Software:
            | Win2000/Win2003, Win2000/Win2003 Terminal Server, Citrix, Active Directory,
            | SMS, Remedy, SAP, Apache, ProFTPD, DHCP3, BIND DNS, Nagios, Monit, Bash, Solaris, RedHat, Debian
    //
       #experience
    article#education
      h2 Education
      div
        ul
          li
            .edu-detail
              | Nodejitsu Node.js Workshop
              span.duration 2012
          li
            div
              | Thoughtworks Continous Deployment Workshop
              span.duration 2012
          li
            div
              | Leftlogic Node.js Workshop
              span.duration 2011
          li
            .edu-detail
              | Harvard Extension School
              span.duration 2011
          li
            .edu-detail
              | Junior Level Linux Professional
              span.duration 2005
          li
            .edu-detail
              | Microsoft Certified System Engineer
              span.duration 2001
          li
            .edu-detail
              | Advanced Realschule Muehldorf am Inn
              span.duration 1996
    article#skills
      h2 Skills
      p
        em
          b Programming Languages:
          | XHTML, HTML5, Markdown, CSS2.1 & CSS3,
          | SASS, JavaScript (ES5, DOM, CoffeeScript), Rake, intermediate knowledge of Ruby.
          br
          b Languages:
          | German, English, Spanish (Basic).
          br
          b Software:
          | Mac OS, Solaris, Linux (Debian, Ubuntu), Bash, ZSH,
          | Photoshop, Git, Vim, TextMate.
script
  var _gauges = _gauges || [];
  (function() {
  var t   = document.createElement('script');
  t.type  = 'text/javascript';
  t.async = true;
  t.id    = 'gauges-tracker';
  t.setAttribute('data-site-id', '52ed65ce5dd05353cd002169');
  t.src = '//secure.gaug.es/track.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(t, s);
  })();

